build
src/include/Eigen
assets/visuals/*

# Editor configuration idrectory
.vscode

# OS Specific files
.DS_store

# Python3 virtual environment
venv
meg-env

__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*